

@font-face {
    font-family: 'bitterbold';
    src: url('../fonts/bitter-bold-webfont.eot');
    src: url('../fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-bold-webfont.woff2') format('woff2'),
         url('../fonts/bitter-bold-webfont.woff') format('woff'),
         url('../fonts/bitter-bold-webfont.ttf') format('truetype'),
         url('../fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitterbold_italic';
    src: url('../fonts/bitter-bolditalic-webfont.eot');
    src: url('../fonts/bitter-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bitter-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bitter-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/bitter-bolditalic-webfont.svg#bitterbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitteritalic';
    src: url('../fonts/bitter-italic-webfont.eot');
    src: url('../fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-italic-webfont.woff2') format('woff2'),
         url('../fonts/bitter-italic-webfont.woff') format('woff'),
         url('../fonts/bitter-italic-webfont.ttf') format('truetype'),
         url('../fonts/bitter-italic-webfont.svg#bitteritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/bitter-regular-webfont.eot');
    src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-regular-webfont.woff2') format('woff2'),
         url('../fonts/bitter-regular-webfont.woff') format('woff'),
         url('../fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

	body{
		margin:0;
		color:#6a6f8c;
		background:#f7f7f7;
		font-family: 'bitterregular';
}
a,td,th,p{
	 font-family: 'latoregular';
}
h1,h2,h3,h4,h5,h6{
	font-family: 'bitterregular';
}
.modal h1,p{
	font-family: 'bitterregular';
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
	.bandleft {
    float: left;
    width: 50%;
    height: 6px;
    background-color: #e98b26;
}
.bandright {
    float: left;
    width: 50%;
    height: 6px;
    background-color:#26b4e9;
}
.header-tp .navbar {
    position: relative;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.header-tp .navbar-default {
	background-color: #f7f7f7;
	border-color:transparent!important;
	    padding: 8px 0;
}
.header-tp .bdr li:nth-child(odd) 
{
	border-left: 1px solid #000;

}

.header-tp .bdr li:nth-child(even) 
{
	border-right: 1px solid #000;
	border-left: 1px solid #000;
}
.header-tp .bdr li
{
	padding:10px 0px;
}
.header-tp .bdr li a
{
	color:#000!important;
}

.header-tp .pddr
{
	padding-top:5px;
}

.header-tp .navbar-right {
    float: right !important;
    margin-right: 30px;
}

.header-tp  .nav > li {
    position: relative;
    display: inline-block;
}

.btn-blu {

	
}  
.login-wrap{
	width:100%;
	margin:auto;
	max-width:675px;
	min-height:670px;
	position:relative;
}
.login-wrap_Bg{
	 background-size: cover;
    background-image: url('../Images/ldnhub-login-narrow.jpg');
    background-repeat: no-repeat;
	    min-height: 600px;
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 50px 50px 50px;
	background:rgba(40,57,101,.9);
}


.panel-login {
     background-color:rgba(146, 81, 0, .5);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	    margin-bottom: 0;
}
.panel-login>.panel-heading {
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    font-size: 34px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
	    border-radius: 15px;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #198da8;
}
.btn-login {
    background-color:#26b4e9;
    outline: none;
    color: #fff;
    font-size: 20px;
    height: auto;
    font-weight: normal;
    padding: 10px 0;
    text-transform: uppercase;
    border-color: #26b4e9;
	    border-radius: 15px;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #198da8;
    border-color: #198da8;
	    border-radius: 15px;
}
.btn-register {
    background-color: #26b4e9;
    outline: none;
    color: #fff;
    font-size: 20px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #26b4e9;
	    border-radius: 15px;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
     background-color: #198da8;
    border-color: #53A3CD;
	    border-radius: 15px;
}



.panel-heading a{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: bitterregular;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.panel-heading a{
	    color: #023a78;
}
.selectBox{
padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 15px;
    height: 45px;
}
.modal-backdrop {
    position: relative;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
	color:#fff;
}
.ForgotPassCls{
	color:#fff;
}
.foot-lnk{
	text-align:center;
	margin-top:5px;
}
.panel-login{
	height:610px;
}
.Login_validation_error_text{
    padding: 8px;
    border: 1px solid #b92b27;
    color: #b92b27;
    border-radius: 4px;
    margin: 8px auto;
    text-align: center;
    background-color: #fff;
    width: 80%;
	    font-size: 18px;
		display:none;
	
}