@font-face {
    font-family: 'bitterbold';
    src: url('../fonts/bitter-bold-webfont.eot');
    src: url('../fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-bold-webfont.woff2') format('woff2'),
         url('../fonts/bitter-bold-webfont.woff') format('woff'),
         url('../fonts/bitter-bold-webfont.ttf') format('truetype'),
         url('../fonts/bitter-bold-webfont.svg#bitterbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitterbold_italic';
    src: url('../fonts/bitter-bolditalic-webfont.eot');
    src: url('../fonts/bitter-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bitter-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bitter-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/bitter-bolditalic-webfont.svg#bitterbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitteritalic';
    src: url('../fonts/bitter-italic-webfont.eot');
    src: url('../fonts/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-italic-webfont.woff2') format('woff2'),
         url('../fonts/bitter-italic-webfont.woff') format('woff'),
         url('../fonts/bitter-italic-webfont.ttf') format('truetype'),
         url('../fonts/bitter-italic-webfont.svg#bitteritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/bitter-regular-webfont.eot');
    src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-regular-webfont.woff2') format('woff2'),
         url('../fonts/bitter-regular-webfont.woff') format('woff'),
         url('../fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
		margin:0;
		font-family: 'latoregular';
}
h1,h2,h3,h4,h5,h6,button{
	font-family: 'bitterregular';
	font-weight:100;
}
p,label,th,td{
	font-family: 'latoregular';
	
}
li a{
	font-family: 'bitterregular';
}
.TabHeadm a{
	font-family: 'latoregular';
}
a:focus, a:hover, a {
    outline: none;
    text-decoration: none;
	    font-size: 14px;
    font-weight: 600;
}
.header-top i {
    font-size: 18px;
	 color: #0e1a35;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
	    margin: 15px 0 0 50px;
		width: 40%;
    float: left;
}

#custom-search-input input{
    border: 0;
	    height: 30px;
    box-shadow: none;
	width: 92%;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}
.LogoN{
	padding-left:10px;
}
.LogoN img{
	    height: auto;
    max-width: 100%;
}
.blue-bg-nav{
	background-color: #f7f7f7;
	    padding: 10px 0;
}
.navbar-default {
    background-color: transparent;
    border: none;
	    margin-bottom: 0;
}
.header-rightside{
	margin-top:23px;
}
    
.dropdown-menu {
	left: -95px;
	min-width: 170px;
}
.navbar-content{
	    padding: 5px;
}
.view  li{
	list-style-type:none;
	    margin: 5px 0;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 91.5%;
    position: absolute;
    top: 14px;
}
label{
	font-weight:100;
}
.bandleft {
    float: left;
    width: 50%;
    height: 6px;
    background-color: #e98b26;
}
.bandright {
    float: left;
    width: 50%;
    height: 6px;
    background-color: #26b4e9;
}
.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}
.PaientCMS {
	float: left;
    width: 40%;
}
.PatintSec{
	float: left;
    width: 60%;
}
.fa-fw {
    text-align: left !important;
}
.control-label{
	padding-top:7px;
}
.CustomCont{
	padding-left: 50px !important;
    padding-right: 50px !important;
}
/* CSS Second Page */
.page-header{
	border-bottom:none;
	margin:0;
}
.page-M{
		float:left;
	width:100%;
}
.PatientN{	
	float:left;
	width:10%;
}
.PatientN h5{	
	padding:0;
	margin:5px 0;
}
.PatientNText h5{
	padding:0;
	margin:5px 0;
}
.PatientNText{
	float:left;
	width:90%;
}
.panel-info {
    border-color: #bce8f1;
    margin-top: 10px;
}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/* Tabel CSS  */
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.grapg img{
	width:800px;
}
#no-more-tables{
    height: 400px;
    overflow-y: auto;
}
.painTabGraph{
	    margin-bottom: 45px;
		    height: 250px;
    overflow: auto;
}
.painTabGraphSec{
	    height: 250px;
    overflow: auto;
}
.painTabGraphThird{
	    height: 250px;
    overflow: auto;
}
.doseGraphTab{
	    margin-bottom: 45px;
		    height: 350px;
    overflow: auto;
}
.doseTabGraphSec{
	    height: 350px;
    overflow: auto;
}
.oswestryTabGraph{
	    margin-bottom: 45px;
		    height: 350px;
    overflow: auto;
}
.oswestryTabGraphSec{
	    height: 350px;
    overflow: auto;
}

table th,td{
	font-size:13px;
}
.TabHeadm li a:focus, a:hover, a {
    font-size: 14px;	
}
.nav>li>a {
    padding: 10px 9px;
}
.DateFilterCls .form-group{
	margin-bottom:0px;
}
.filterableBtn{
	margin-top:10px;
	text-transform: uppercase;
}
.PaientextM,.GraphM{
	width:50%;
	float:left;
}
.PaientDHide{
	display:none;
}
.GraphDiv{
	overflow:auto;
}
.searchBoxCls{
	padding: 0px 10px;
}
.Ptabletr th li{
	margin-left: 11px;
}
.highcharts-container {
	width:1187px !important;
}
.SecSelect {
    width: 200px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1;
    background: url(../Images/if_arrow_sans_down_103299.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position: 128px -40px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: #000 !important;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
	#custom-search-input {
		width: 50%;
	}
}