<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DASHBOARD</title>
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static  "css/custom.css" %} type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
    {#    <script src="http://code.highcharts.com/highcharts.js"></script>#}
    {#    <script src="http://code.highcharts.com/modules/exporting.js"></script>#}
    <script src={% static "js/highcharts.js" %}></script>
    <script src={% static "js/exporting.js" %}></script>
</head>

<body>
<div class="blue-bg-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <header class="header-tp">
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="LogoN">
                                    <a href="#" class="btn-blu mrgn-top" data-toggle="modal" data-target="#at-helping">
                                        <img src={% static "Images/ldn-research-trust-logo.png" %} alt="logoImage0"/>
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <form method="POST" action="/ldn/dashboard/">{% csrf_token %}
                                            <input type="text" class="form-control input-lg" name="patient_id"
                                                   placeholder="Search"/>
                                            <span class="input-group-btn">
												<button class="btn btn-info btn-lg" type="submit">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-rightside">
                                    <ul class="list-inline header-top pull-right">
                                        <li class=""><a href="#" class="add-project">Dashboard</a></li>
                                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                        <li>
                                            <a href="#" class="icon-info">
                                                <i class="fa fa-bell" aria-hidden="true"></i>
                                                <span class="label label-primary">3</span>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><i
                                                    class="fa fa-fw fa-user"></i></span>Profile
                                                <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="navbar-content">
                                                        <span>{{ request.user.firstname }} {{ request.user.lastname }}</span>
                                                        <p class="text-muted small">
                                                            {{ request.user.email }}
                                                        </p>
                                                        <div class="divider">
                                                        </div>
                                                        <ul class="view btn-sm active">
                                                            <li><a href="#"><i class="fa fa-credit-card"></i>
                                                                Payment</a>
                                                            </li>
                                                            {#																<li><a href="#"><i class="fa fa-user"></i> Account</a></li>#}
                                                            <li><a href="/ldn/logout/" class="">
                                                                <i class="fa fa-fw fa-power-off"></i> Logout
                                                            </a></li>
                                                            <li class="divider"></li>
                                                        </ul>

                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
<div class="band">
    <div class="bandleft"></div>
    <div class="bandright"></div>
</div>
<div class="container-fluid CustomCont">
    <div class="row display-table-row">
        <div class="col-md-12 col-sm-12 display-table-cell v-align">
            <div class="user-dashboard">
                <h1>Hello {{ request.user }}</h1>

            </div>
        </div>
    </div>
    <div class="page-header">
        <div class="page-M">
            <div class="PatientN"><h5>Patient Name:-</h5></div>
            <div class="PatientNText">
                <h5>{{ patient_data.name }} </h5>
            </div>
        </div>
        <div class="page-M">
            <div class="PatientN"><h5>Patient ID:-</h5></div>
            <div class="PatientNText">
                <h5>{{ patient_data.id }} </h5>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel with-nav-tabs panel-info">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1info" data-toggle="tab">CDC Data</a></li>
                            <li><a href="#tab2info" data-toggle="tab">Oswestry Data</a></li>
                            <li><a href="#tab3info" data-toggle="tab">Prescription Meds</a></li>
                            <li><a href="#tab4info" data-toggle="tab">Weight</a></li>
                            <li><a href="#tab5info" data-toggle="tab">Pain</a></li>
                            <li><a href="#tab6info" data-toggle="tab">Sleep</a></li>
                            <li><a href="#tab7info" data-toggle="tab">Dose History</a></li>
                            <li><a href="#tab8info" data-toggle="tab">LDN Taken Traker</a></li>
                            <li><a href="#tab9info" data-toggle="tab">Current Dose</a></li>
                            {#                            <li><a href="#tab10info" data-toggle="tab">Exercise</a></li>#}
                            {#                            <li><a href="#tab11info" data-toggle="tab">Diet</a></li>#}
                            <li><a href="#tab12info" data-toggle="tab">My day</a></li>
                            <li><a href="#tab13info" data-toggle="tab">CFS Fibro Traker</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            {#                            <div class="tab-pane fade in active" id="tab1info">#}
                            <div class="tab-pane fade in active" id="tab1info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date for</th>
                                                        <th>q1</th>
                                                        <th class="numeric">q2</th>
                                                        <th class="numeric">q3</th>
                                                        <th class="numeric">q4</th>
                                                        <th class="numeric">q5</th>
                                                        <th class="numeric">q6</th>
                                                        <th class="numeric">q7</th>
                                                        <th class="numeric">q8</th>
                                                        <th class="numeric">q9</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in cdc_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                            <td>{{ row.2 }}</td>
                                                            <td>{{ row.3 }}</td>
                                                            <td>{{ row.4 }}</td>
                                                            <td>{{ row.5 }}</td>
                                                            <td>{{ row.6 }}</td>
                                                            <td>{{ row.7 }}</td>
                                                            <td>{{ row.8 }}</td>
                                                            <td>{{ row.9 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="cdc" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab2info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date for</th>
                                                        <th>osw1</th>
                                                        <th>osw2</th>
                                                        <th>osw3</th>
                                                        <th>osw4</th>
                                                        <th>osw5</th>
                                                        <th>osw6</th>
                                                        <th>osw7</th>
                                                        <th>osw8</th>
                                                        <th>osw9</th>
                                                        <th>osw10</th>
                                                        <th>oswSocre</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in oswestry_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                            <td>{{ row.2 }}</td>
                                                            <td>{{ row.3 }}</td>
                                                            <td>{{ row.4 }}</td>
                                                            <td>{{ row.5 }}</td>
                                                            <td>{{ row.6 }}</td>
                                                            <td>{{ row.7 }}</td>
                                                            <td>{{ row.8 }}</td>
                                                            <td>{{ row.9 }}</td>
                                                            <td>{{ row.10 }}</td>
                                                            <td>{{ row.11 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="oswestry" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab3info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date for</th>
                                                        <th>MEDS Count</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in pres_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="prescriptionmeds" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab4info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date for</th>
                                                        <th>Just LB</th>
                                                        <th>prefWt</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in weight_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                            <td>{{ row.2 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="weight" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab6info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date Record</th>
                                                        <th>Sleep Hours</th>
                                                        <th>Interruptions</th>
                                                        <th>Sleep Quality</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in sleep_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                            <td>{{ row.2 }}</td>
                                                            <td>{{ row.3 }}</td>
                                                            <td>{{ row.4 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="sleep" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab8info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date Added</th>
                                                        <th>Dose Size</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in ldntracker_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="ldntracker" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab12info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date Added</th>
                                                        <th>Mvalue</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in myday_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="myday" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab13info">
                                <div class="col-md-4">
                                    <div class="">
                                        <h5><b>PATIENT DATA</b></h5>
                                        <div class="row">
                                            <div id="no-more-tables">
                                                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                                                    <thead class="cf">
                                                    <tr>
                                                        <th>Date Added</th>
                                                        <th>Rating</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for row in cfsfibro_table_zipped %}
                                                        <tr>
                                                            <td>{{ row.0 }}</td>
                                                            <td>{{ row.1 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="cfsfibro" style="min-width: 310px; height: 400px; margin: 0 auto">
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $("#navigation").toggleClass("hidden-xs");
        });
    });

    $(function () {
        var cdc = new Highcharts.Chart({
            chart: {
                renderTo: 'cdc'
            },
            title: {
                text: 'CDC QUESTIONNAIRE RESPONSE',
                x: -20 //center
            },
            {#            subtitle: {#}
            {#                text: 'Source: WorldClimate.com',#}
            {#                x: -20#}
            {#            },#}
            {#            xAxis: {#}
            {#                type: 'datetime',#}
            {#                min: 0,#}
            {#                max: 9#}
            {#            },#}
            xAxis: [{
                categories: {{ cdc_fordate|safe }},
                crosshair: true
            }],

            yAxis: {
                title: {
                    text: 'CDC Score'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                {#                valueSuffix: '°C'#}
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                horizontalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'q1',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ q1|safe }}
            }, {
                name: 'q2',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ q2|safe }}
            }, {
                name: 'q3',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ q3|safe }}
            }, {
                name: 'q4',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ q4|safe }}
            },
                {
                    name: 'q5',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ q5|safe }}
                },
                {
                    name: 'q6',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ q6|safe }}
                }, {
                    name: 'q7',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ q7|safe }}
                }, {
                    name: 'q8',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ q8|safe }}
                }, {
                    name: 'q9',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ q9|safe }}
                }]
        });

        var oswestry = new Highcharts.Chart({
            chart: {
                renderTo: 'oswestry'
            },
            title: {
                text: 'OSWESTRY QUESTIONNAIRE RESPONSE',
                x: -20 //center
            },
            {#            subtitle: {#}
            {#                text: 'Source: WorldClimate.com',#}
            {#                x: -20#}
            {#            },#}
            {#            xAxis: {#}
            {#                type: 'datetime',#}
            {#                min: 0,#}
            {#                max: 9#}
            {#            },#}
            xAxis: [{
                categories: {{ oswestry_fordate|safe }},
                crosshair: true
            }],

            yAxis: {
                title: {
                    text: 'OSW Score'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                {#                valueSuffix: '°C'#}
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                horizontalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'osw1',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ osw1|safe }}
            }, {
                name: 'osw2',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ osw2|safe }}
            }, {
                name: 'osw3',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ osw3|safe }}
            }, {
                name: 'osw4',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ osw4|safe }}
            },
                {
                    name: 'osw5',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ osw5|safe }}
                },
                {
                    name: 'osw6',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ osw6|safe }}
                }, {
                    name: 'osw7',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ osw7|safe }}
                }, {
                    name: 'osw8',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ osw8|safe }}
                }, {
                    name: 'osw9',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ osw9|safe }}
                },
                {
                    name: 'osw10',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ osw10|safe }}
                },
                {
                    name: 'osw_score',
                    {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                    data:{{ osw_score|safe }}
                }]
        });

        var prescriptionmeds = new Highcharts.Chart({
            chart: {
                renderTo: 'prescriptionmeds'
            },
            title: {
                text: 'PRESCRIPTION MEDS COUNT QUESTIONNAIRE RESPONSE',
                x: -20 //center
            },
            {#            subtitle: {#}
            {#                text: 'Source: WorldClimate.com',#}
            {#                x: -20#}
            {#            },#}
            {#            xAxis: {#}
            {#                type: 'datetime',#}
            {#                min: 0,#}
            {#                max: 9#}
            {#            },#}
            xAxis: [{
                categories: {{ pres_fordate|safe }},
                crosshair: true
            }],
            yAxis: {
                title: {
                    text: 'NO. OF PRESCRIPTION MEDS'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                {#                valueSuffix: '°C'#}
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                horizontalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'MEDS Count',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ pres_medscount|safe }}
            }]
        });

        var weight = new Highcharts.Chart({
            chart: {
                renderTo: 'weight'
            },
            title: {
                text: 'WEIGHT QUESTIONNAIRE RESPONSE',
                x: -20 //center
            },
            {#            subtitle: {#}
            {#                text: 'Source: WorldClimate.com',#}
            {#                x: -20#}
            {#            },#}
            {#            xAxis: {#}
            {#                type: 'datetime',#}
            {#                min: 0,#}
            {#                max: 9#}
            {#            },#}
            xAxis: [{
                categories: {{ weight_fordate|safe }},
                crosshair: true
            }],

            yAxis: {
                title: {
                    text: 'LB'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                {#                valueSuffix: '°C'#}
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                horizontalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'justLb',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}
                data:{{ weight_justlb|safe }}
            }]
        });

        Highcharts.chart('sleep', {
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'SLEEP'
            },
            xAxis: [{
                categories: {{ sleep_date_record|safe }},
                crosshair: true
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value} hr',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                title: {
                    text: 'SLEEP QUALITY',
                    style: {
                        color: Highcharts.getOptions().colors[2]
                    }
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'SLEEP HOURS',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} hr',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Interruptions',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                labels: {
                    format: '{value}',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                {#        x: 80,#}
                horizontalAlign: 'middle',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: 'SLEEP HOURS',
                type: 'column',
                yAxis: 1,
                data: {{ hours_sleep|safe }},
                tooltip: {
                    valueSuffix: ' mm'
                }

            }, {
                name: 'INTERRUPTIONS',
                type: 'spline',
                yAxis: 2,
                data: {{ interruptions|safe }},
                marker: {
                    enabled: false
                },
                dashStyle: 'shortdot',
                tooltip: {
                    valueSuffix: ' mb'
                }

            }, {
                name: 'SLEEP QUALITY',
                type: 'spline',
                data: {{ quality|safe }},
                tooltip: {
                    valueSuffix: ' °C'
                }
            }]
        });

        var cfsfibro = new Highcharts.Chart({
            chart: {
                renderTo: 'cfsfibro'
            },
            title: {
                text: 'CFS FIBRO TRACKER',
                x: -20 //center
            },
            {#            subtitle: {#}
            {#                text: 'Source: WorldClimate.com',#}
            {#                x: -20#}
            {#            },#}
            {#            xAxis: {#}
            {#                type: 'datetime',#}
            {#                min: 0,#}
            {#                max: 9#}
            {#            },#}
            xAxis: [{
                categories: {{ cfsfibro_date_added|safe }},
                crosshair: true
            }],

            yAxis: {
                title: {
                    text: 'RATING'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                {#                valueSuffix: '°C'#}
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                horizontalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'RATING',
                data:{{ cfsfibro_rating|safe }}
            }]
        });

        var myday = new Highcharts.Chart({
            chart: {
                renderTo: 'myday'
            },
            title: {
                text: 'MY DAY TRACKER',
                x: -20 //center
            },
            {#            subtitle: {#}
            {#                text: 'Source: WorldClimate.com',#}
            {#                x: -20#}
            {#            },#}
            {#            xAxis: {#}
            {#                type: 'datetime',#}
            {#                min: 0,#}
            {#                max: 9#}
            {#            },#}
            xAxis: [{
                categories: {{ myday_date_added|safe }},
                crosshair: true
            }],

            yAxis: {
                title: {
                    text: 'MVALUE'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                {#                valueSuffix: '°C'#}
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                horizontalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'MVALUE',
                data:{{ mvalue|safe }}
            }]
        });

        var ldntracker = new Highcharts.Chart({
            chart: {
                renderTo: 'ldntracker'
            },
            title: {
                text: 'LDN TRACKER QUESTIONNAIRE RESPONSE',
                x: -20 //center
            },
            {#            subtitle: {#}
            {#                text: 'Source: WorldClimate.com',#}
            {#                x: -20#}
            {#            },#}
            {#            xAxis: {#}
            {#                type: 'datetime',#}
            {#                min: 0,#}
            {#                max: 9#}
            {#            },#}
            xAxis: [{
                categories: {{ ldntracker_date_record|safe }},
                crosshair: true
            }],

            yAxis: {
                title: {
                    text: 'DOSE SIZE'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                {#                valueSuffix: '°C'#}
            },
            legend: {
                layout: 'horizontal',
                align: 'right',
                horizontalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'DOSE SIZE',
                {#            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.5]#}

                {#                data:data#}
                data: (function () {
                    // generate an array of random data
                    var data_arr = {{ ldntracker_dose_size|safe }};
                    var data = [];
                    for (i = 0; i < data_arr.length; i++) {
                        data.push(Number(data_arr[i]));
                    }
                    return data;
                }())
            }]
        });


        // Pretend to do dynamic adding of points
        {#    setInterval(function() {#}
        {#        // Add new point#}
        {#        chart.series[0].addPoint(5 + Math.floor(Math.random() * 25));#}
        {##}
        {#        // Update x-axis range#}
        {#        chart.xAxis[0].setExtremes(chart.xAxis[0].dataMax-9, chart.xAxis[0].dataMax);#}
        {#    }, 5000);#}

        [].forEach.call(document.querySelectorAll('.highcharts-credits'), function (el) {
            el.style.visibility = 'hidden';
        });

    });
</script>
</body>

</html>