<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static  "css/customOne.css" %} type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
    <script>
        $(function () {

            if ({{ signup|safe }}) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $('#register-form-link').addClass('active');
            }
            $('#already-member-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $('#login-form-link').addClass('active');
                e.preventDefault();
            });
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });

    </script>
</head>

<body>
<div class="blue-bg-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <header class="header-tp">
                    <nav class="navbar navbar-default navbar-static-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="">
                                    <a href="{% url 'dashboard' %}" class="btn-blu mrgn-top">
                                        <img src={% static "Images/ldn-research-trust-logo.png" %} alt="logoImage0"/>
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                {#                                    <form class="form-inline">#}
                                {#                                        <ul class="nav navbar-nav navbar-right bdr">#}
                                {##}
                                {#                                            <li><a href="#" data-toggle="modal" id="Signn" data-target="#at-login">Sign in</a></li>#}
                                {##}
                                {#                                            <li><a href="#" data-toggle="modal" id="Signn2" data-target="#at-signup">Sign Up</a></li>#}
                                {#                                        </ul>#}
                                {#                                    </form>#}
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
<div class="band">
    <div class="bandleft"></div>
    <div class="bandright"></div>
</div>
<div class="login-wrap_Bg">
    <div id="regContainer" class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6 col-md-8 text-left">
                                <a href="#" id="register-form-link">Sign Up</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="login-form" method="post" action="/ldn/loginverify/" role="form"
                                      style="display: block;">{% csrf_token %}
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label for="user">Email</label>
                                            <input id="email_id" name="email" type="email" class="input form-control"
                                                   placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="pass">Password</label>
                                            <input name="password" id="pass" type="password" class="input form-control"
                                                   data-type="password" placeholder="Password" required>
                                        </div>
                                        <div class=" text-center">
                                            <input id="check" type="checkbox" class="check" checked>
                                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                        </div>
                                        <div class=" form-group">
                                            {% if message and signup == 'false' %}
                                                <div class="Login_validation_error_text col-lg-12 col-md-12">{{ message }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="submit" name="login-submit" id="login-submit"
                                                           tabindex="4" class="form-control btn btn-login"
                                                           value="Sign In">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <a href="#forgot" data-target="#pwdModal" data-toggle="modal"
                                               class="ForgotPassCls">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </form>
                                <form method="post" action="/ldn/signupverify/" id="register-form" role="form"
                                      style="display: none;">{% csrf_token %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email Address</label>
                                            <input name="email" type="text" id="email" tabindex="2" class="form-control"
                                                   placeholder="Email Address" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Country</label>
                                            <div class="selectDiv">
                                                <span class="selectDefault"></span>
                                                <select name="txtCountry" class="selectBox SecSelect" required>
                                                    <option disabled selected value>Select</option>
                                                    {% for country in countries %}
                                                        <option>{{ country }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Role</label>
                                            <div class="selectDiv">
                                                <span class="selectDefault"></span>
                                                <select name="txtRole" class="selectBox SecSelect" required>
                                                    <option disabled selected value>Select</option>
                                                    <option value="1">Pharmacist</option>
                                                    <option value="2">Prescriber</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Title</label>
                                            <div class="selectDiv">
                                                <span class="selectDefault"></span>
                                                <select name="txtTitle" class="selectBox SecSelect" required>
                                                    <option disabled selected value>Select</option>
                                                    <option value="1">Phd</option>
                                                    <option value="2">MD</option>
                                                    <option value="3">DO</option>
                                                    <option value="4">ND</option>
                                                    <option value="5"> Nurse Prescribers</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" name="password" id="password" tabindex="2"
                                                   class="form-control" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="firstname">Name</label>
                                            <input type="text" name="firstname" id="user" tabindex="2"
                                                   class="form-control" placeholder="Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="dr_licence">Licence Number</label>
                                            <input type="text" name="licence" id="dr_licence_id" tabindex="1"
                                                   class="form-control" placeholder="Licence Number" value="">
                                        </div>
                                        <div class="form-group">
                                            <label for="website">Website</label>
                                            <input name="website" type="text" id="website" tabindex="2"
                                                   class="form-control" placeholder="Website(Optional)">
                                        </div>
                                        {#                                        <div class=" form-group">#}
                                        {#                                            {% if message %}#}
                                        {#                                            <div class="row">#}
                                        {#                                                <div class="Login_validation_error_text col-lg-12 col-md-12">{{ message }}#}
                                        {#                                                </div>#}
                                        {#                                            </div>#}
                                        {#                                            {% endif %}#}
                                        {#                                        </div>#}
                                    </div>
                                    <div class="">
                                        <div class=" form-group">

                                            {% if message and signup == 'true' %}
                                                <div class="row">
                                                    <div class="Login_validation_error_text col-lg-12 col-md-8">{{ message }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 sigButton">
                                                    <input type="submit" name="register-submit" id="register-submit"
                                                           tabindex="4" class="form-control btn btn-register"
                                                           value="Sign Up">
                                                </div>
                                                <!-- <div class="col-sm-6"> -->
                                                <!-- <a href={% url "userlogin" %}><input type="button" -->
                                                <!-- name="register-cancel" -->
                                                <!-- id="register-cancel" -->
                                                <!-- tabindex="4" -->
                                                <!-- class="form-control btn btn-register" -->
                                                <!-- value="Cancel"></a> -->
                                                <!-- </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group text-center">
                                                <a href="#" class="active" id="already-member-link"
                                                   class="ForgotPassCls" style="color: white">Already Member?</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal-->
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">What's My Password?</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>If you have forgotten your password you can reset it here. <br>It will be sent to
                                    your
                                    email address if your DR/PH Licence number matches with the email</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <form method="post" action="/ldn/sendpass/">{% csrf_token %}
                                            <div class="form-group">
                                                {#                                                <input class="form-control input-lg" placeholder="Username"#}
                                                {#                                                       name="username" type="text">#}
                                                <input class="form-control input-lg DRLicencee"
                                                       placeholder="DR/PH Licence"
                                                       name="DR/PHLicence" type="text">
                                                <input class="form-control input-lg" placeholder="Email"
                                                       name="email" type="text">
                                            </div>
                                            <input class="btn btn-lg btn-primary btn-block" value="Send My Password"
                                                   type="submit">
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!--modal-->
<div id="InvalidLoginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="display:block;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">Invalid Login</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <h3>Please try again.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
</body>

</html>
