{% load static %}
{% csrf_token %}
{% if error %}
<div id="error">{{ error }}</div>
{% endif %}
<div id="paypal-button"></div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}></script>
<script>
    paypal.Button.render({

        {#        env: 'production', // Or 'sandbox'#}
        env: 'sandbox',

        client: {
{#            client id#}
            sandbox: 'Abk-JdQX-f9BuSvuhU2sJg9QFMF-sMDGr5e86bqdLXfhASVNeQn9xds7o4vYAp2V9sYVX9TtgW5CqJBc'
{#            production: 'xxxxxxxxx'#}
        },

        commit: true, // Show a 'Pay Now' button

        payment: function (data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: {total: '300.00', currency: 'GBP'}
                        }
                    ]
                }
            });
        },

        onAuthorize: function (data, actions) {
            window.alert("Please click OK and wait for a while for transaction to proceed.");
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
{#            function csrfSafeMethod(method) {#}
{#                // these HTTP methods do not require CSRF protection#}
{#                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
{#            }#}
{##}
{#            $.ajaxSetup({#}
{#                beforeSend: function (xhr, settings) {#}
{#                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
{#                        xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
{#                    }#}
{#                }#}
{#            });#}
            $.ajax({

                type: "POST",
                url: "{% url 'checkpayment' %}",
                dataType: "json",
                data: data,

                success: function (data) {
                    console.log(data); // log the returned json to the console
                    if(data.error) {
                        console.log("failed"); // another sanity check
                        alert("Payment Failed");
                    }
                    else{
                    console.log("success"); // another sanity check
                    alert("Payment Completed");
                    location.href=data.url;

                    }

                },
                error: console.log("error in ajax call")
                {#            return actions.payment.execute().then(function(payment) {#}

                // The payment is complete!
                // You can now show a confirmation message to the customer
                {#                window.alert("Payment Complete")#}
            });
        }

    }, '#paypal-button');
</script>