<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DASHBOARD</title>
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static  "css/custom.css" %} type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src={% static "js/jquery-2.1.4.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
    {#    <script src="http://code.highcharts.com/highcharts.js"></script>#}
    {#    <script src="http://code.highcharts.com/modules/exporting.js"></script>#}
    <script src={% static "js/highcharts.js" %}></script>
    <script src={% static "js/exporting.js" %}></script>
    <script src={% static "js/series-label.js" %}></script>
</head>

<body>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
</div>
<script>
Highcharts.chart('container', {
    chart: {
        zoomType: 'xy'
    },
    title: {
        text: 'SLEEP'
    },
    xAxis: [{
        categories: {{ date_record|safe }},
        crosshair: true
    }],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value} hr',
            style: {
                color: Highcharts.getOptions().colors[2]
            }
        },
        title: {
            text: 'SLEEP QUALITY',
            style: {
                color: Highcharts.getOptions().colors[2]
            }
        },
        opposite: true

    }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
            text: 'SLEEP HOURS',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        labels: {
            format: '{value} hr',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        }

    }, { // Tertiary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Interruptions',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        labels: {
            format: '{value} mb',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        opposite: true
    }],
    tooltip: {
        shared: true
    },
    legend: {
        layout: 'horizontal',
        align: 'right',
{#        x: 80,#}
        horizontalAlign: 'middle',
        y: 20,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
    series: [{
        name: 'SLEEP HOURS',
        type: 'column',
        yAxis: 1,
        data: {{ hours_sleep|safe }},
        tooltip: {
            valueSuffix: ' mm'
        }

    }, {
        name: 'INTERRUPTIONS',
        type: 'spline',
        yAxis: 2,
        data: {{ interruptions|safe }},
        marker: {
            enabled: false
        },
        dashStyle: 'shortdot',
        tooltip: {
            valueSuffix: ' mb'
        }

    }, {
        name: 'SLEEP QUALITY',
        type: 'spline',
        data: {{ quality|safe }},
        tooltip: {
            valueSuffix: ' °C'
        }
    }]
});

        [].forEach.call(document.querySelectorAll('.highcharts-credits'), function (el) {
            el.style.visibility = 'hidden';
        });


</script>


</body>

</html>